html {
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	
}
.stroke {
	text-align: center;
color: #FCDB00;
font-family: impact;
font-size: 46px;
text-shadow: -1px -1px 1px rgb(255, 255, 255), 1px 1px 1px rgb(255, 255, 255), -1px 1px 1px rgb(254, 254, 254), 1px -1px 1px rgb(255, 255, 255);
-webkit-text-fill-color: #d1462a;
-webkit-text-stroke: 2px rgb(255, 255, 255);
}

a {
	/*Quitar subrayado de hipervinculo en a href*/
	text-decoration: none;
}

.hero {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 80px);
}

.hero h1 {
	font-size: 80px;
}

.hero p {
	font-size: 30px;
	text-transform: uppercase;
	color: #fc7b11;
}

nav {
	/*Formato de menu inmovilizado*/
	background: rgba(211, 5, 5, 0.908);
	height: 80px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	display: flex;
	position: sticky;
	top: 0;
	overflow: hidden;
}

nav a {
	/*Posicion y ajuste de menu inmovilizado*/
	flex: 1;
	height: 100%;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #000;
	transition: .2s ease-in-out all;
	font-weight: 500;
}

nav a:hover {
	/*Color de seccion(en el menu inmovilizado) que se selecciona con el puntero*/
	background: #0b3fea32;
}

nav .indicador {
	/*Formato de indicador en el menu inmovilizado*/
	width: 0px;
	height: 7px;
	background: rgb(237, 5, 202);
	position: absolute;
	bottom: 0;
	transition: .3s ease-out all;
}

.seccion {
	/*Cuadros de seccion posiciones*/
	min-height: 100vh;
	max-width: 800px;
	width: 90%;
	margin: auto;

	padding-top: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.seccion .card {
	/*Cuadros de seccion color y tamaño*/
	background: rgb(239, 141, 162);
	height: 100%;
	width: 150;
	padding: 40px;
	border-radius: 5px;
	box-shadow: rgba(87, 67, 232, 0.774) 0px 8px 24px;
}  
mark { 
	background-color: rgba(201, 192, 255, 0.621);
	color: black;
  }
.seccion h1 {
	/*Elemnto h1 (titulo de cada seccion) de la clase seccion*/
	font-size: 48px;
	margin-bottom: 20px;
}
/*Elemento p (contenido de cada seccion) de la clase seccion*/
.seccion p {
	line-height: 38px;
	margin-bottom: 40px;
	color: #494949;
	font-size: 20px;
}
/*Elemento img de la clase seccion*/
.seccion img {
	width: 100%;
	vertical-align: top;
	margin-bottom: 20px;
}


/*Para modificar la visualizacion en distintos dispositivos*/
@media screen and (max-width: 800px) {
	nav a {
		font-size: 14px;
		padding: 5px;
	}
}

@media screen and (max-width: 450px) {
	nav a {
		font-size: 12px;
	}
}